.navbar {
    overflow: hidden;
    position:fixed;
    width: 100%;
    top: -5px;
    left: -5px;
    right: -5px;
    padding: 20px;
    background-color: #CECECE;
}
.navbar a{
    text-decoration: none;
    padding: 10px;
    color:black;
}
@media screen and (max-width: 800px){
  
}